.container {
  max-width: 1000px;
  margin: 0 auto;

  @media screen and (max-width: 999px) {
    padding: 0 60px;
  }

  @media screen and (max-width: 500px) {
    padding: 20px;
    
  }
  
  // @media screen and (max-width: 1170px) {
  //   padding: 0 60px;
  // }

  // @media screen and (max-width: 580px) {
  //   padding: 0;
    
  // }
}